{% assign posts = site.posts %}
{% if posts.size > 0 %}
<section>
  {% include widget_search.html %}

  <h2>Recent posts</h2>
  <div class="mdc-list mdc-list--two-line">
    {% for post in posts limit:5 %}
    {% assign categories = post.categories | split: ', ' %}
    <a class="mdc-list-item" href="{{ site.baseurl }}{{ post.url }}">
      <span class="mdc-list-item__ripple"></span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">{{ post.title }}</span>
        <span class="mdc-list-item__secondary-text">
          {% for cat in categories limit:1 %}
          <span class="project-tag">{{ cat }}</span>
          {% endfor %}
          &nbsp; {{ post.date | date: "%B %e, %Y" }}</span>
      </span>
    </a>
    {% endfor %}

  </div>
</section>
{% endif %}
