<section>
  <div id="portfolio" class="portfolio">
    <div class="grid filters-content">
      {% for project in site.projects %}

      <a href="{{project.url|relative_url}}" class="portfolio-item">
        <div class="project-icon mdc-card__primary-action">
          <div class="mdc-card__media mdc-card__media--square with-ripple-effect" style="background: url({{project.icon}}) center center no-repeat; background-size: cover;">
          </div>
        </div>
        <div class="project-details">
          <strong>{{project.title}}</strong>

          {% assign categories = project.categories %}
          <small>{{categories[0]}}</small>
        </div>
      </a>

      {% endfor %}
    </div>
  </div>
</section>
