<div>
  {% for page in site.projects %}
  {% assign categories = page.categories %}
  {% if categories contains 'featured' %}
  <section class="project-summary" style="display: flex;">
    <img class="project-logo-featured" src="{{ site.baseurl}}{{ page.icon }}" alt="{{ page.title | slice: 0 }}" />
    <div style="width: calc(100% - 72px)">
      <h3 class="project-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
      <div>{{ page.description }}</div>
    </div>
  </section>
  {% endif %}
  {% endfor %}
</div>
