{% if site.menu_social.dribbble %}
<a href="https://dribbble.com/{{ site.menu_social.dribbble }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-dribbble-square" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.email %}
<a href="mailto:{{ site.menu_social.email }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fas fa-envelope-square" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.facebook %}
<a href="https://www.facebook.com/{{ site.menu_social.facebook }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-facebook-square" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.flickr %}
<a href="https://www.flickr.com/{{ site.menu_social.flickr }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-flickr" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.github %}
<a href="https://github.com/{{ site.menu_social.github }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-github-square" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.instagram %}
<a href="https://instagram.com/{{ site.menu_social.instagram }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-instagram-square" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.linkedin %}
<a href="https://www.linkedin.com/in/{{ site.menu_social.linkedin }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-linkedin" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.pinterest %}
<a href="https://www.pinterest.com/{{ site.menu_social.pinterest }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-pinterest-square" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.twitter %}
<a href="https://www.twitter.com/{{ site.menu_social.twitter }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-twitter-square" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.stackoverflow %}
<a href="http://stackoverflow.com/users/{{ site.menu_social.stackoverflow }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-stack-overflow" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.youtube %}
<a href="https://youtube.com/{{ site.menu_social.youtube }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-youtube-square" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}

{% if site.menu_social.playconsole %}
<a href="https://play.google.com/store/apps/dev?id={{ site.menu_social.playconsole }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-google-play" style="color: var(--mdc-theme-on-surface)"></i>
</a>
{% endif %}
