/*
 *------------------------------------------------
 * code syntax highlighting styles
 *------------------------------------------------
 */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://unpkg.com/@highlightjs/cdn-assets@latest/styles/dark.min.css');

.code,
.gist-file,
code {
  border-radius: 4px;
}

.code,
.gist-file *,
code {
  font-family: 'Source Code Pro', monospace;
  font-size: 11pt;
}

.code,
code {
  background-color: var(--mdc-theme-background);
  padding: 2px 4px;
  margin: 0 2px;
}

.gist-data,
pre code {
  border-radius: 8px;
  background-color: var(--mdc-theme-background);
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 16px !important;
  margin-bottom: 16px;
}

.gist-file,
.gist-file * {
  background-color: var(--mdc-theme-background) !important;
  border-color: var(--mdc-theme-border) !important;
}

.gist-data .blob-num,
.gist-meta {
  color: var(--mdc-theme-on-surface) !important;
}

.gist-meta {
  display: none;
}
