/*
 *------------------------------------------------
 * code syntax highlighting styles
 *------------------------------------------------
 */
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://unpkg.com/@highlightjs/cdn-assets@latest/styles/dark.min.css');

.code,
.gist-file,
code {
  border-radius: $border-radius;
}

.code,
.gist-file *,
.text-mono,
code {
  font-family: 'Source Code Pro', "SFMono-Regular", Menlo, Consolas, Monospace;
  font-size: 11pt;
}

.code,
code {
  background-color: var(--mdc-theme-background);
  padding: 2px 4px;
  margin: 0 2px;
}

.gist-data,
pre code {
  @extend .mdc-card;
  @extend .mdc-card--outlined;
  @extend .mdc-card__content;
  border-radius: $border-radius;
  // background-color: var(--mdc-theme-background);
  margin-bottom: 8px;
  width: 100%;
}

.gist-file,
.gist-file * {
  background-color: var(--mdc-theme-background) !important;
  border-color: var(--mdc-theme-border) !important;
}

.gist-data .blob-num,
.gist-meta {
  color: var(--mdc-theme-on-surface) !important;
}

.gist-meta {
  display: none;
}

.code-example {
  @extend .mdc-card;
  @extend .mdc-card--outlined;
  @extend .mdc-card__content;
  border-radius: $border-radius;
  margin-bottom: 8px;
}
