/*
 *------------------------------------------------
 * alignment, columns, margins and spacing
 *------------------------------------------------
 */
@import 'variables.scss';

.text-left,
.text-left * {
  text-align: left;
}

.text-right,
.text-right * {
  text-align: right;
}

.text-center,
.text-center * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-justify,
.text-justify *  {
  text-align: justify;
}


.c-major {
  float: left;
  width: 70%;
}

.c-major-r {
  @extend .c-major;
  padding-right: var(--column-spacing);
}

.c-minor {
  float: left;
  width: 30%;
}

.c-minor-r {
  @extend .c-minor;
  padding-right: var(--column-spacing);
}

@include for-phone-tablet-only {
  .c-major {
    float: none;
    width: 100%;
  }

  .c-major-r {
    float: none;
    width: 100%;
  }

  .c-minor {
    float: none;
    width: 100%;
  }

  .c-minor-r {
    float: none;
    width: 100%;
  }
}
