/*
 *------------------------------------------------
 * tables
 *------------------------------------------------
 */
@import 'variables.scss';

table {
  @extend .mdc-card;
  @extend .mdc-card--outlined;
  display: table;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

th,
td {
  border-bottom: solid rgba(var(--mdc-theme-border), 0.5);
  border-left: solid var(--mdc-theme-border);

  &:first-of-type {
    border-left: 0;
  }
}

tbody {
  tr {
    &:last-of-type {
      th,
      td {
        border-bottom: 0;
      }

      td {
      }
    }
  }
}

thead {
  th {
    border-bottom: solid var(--mdc-theme-border);
  }
}
