/*
 *------------------------------------------------
 * tables
 *------------------------------------------------
 */
@import 'variables.scss';

table {
  @extend .mdc-card;
  @extend .mdc-card--outlined;
  display: table;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

th,
td {
  border-bottom: $border rgba($border-color, 0.5);
  border-left: $border $border-color;

  &:first-of-type {
    border-left: 0;
  }
}

tbody {
  tr {
    &:last-of-type {
      th,
      td {
        border-bottom: 0;
      }

      td {
      }
    }
  }
}

thead {
  th {
    border-bottom: $border $border-color;
  }
}
