/*
 *------------------------------------------------
 * ui elements
 *------------------------------------------------
 */
@import 'variables.scss';

hr {
  border-color: var(--mdc-theme-border);
  border-width: 0.5px;
  margin-top: var(--item-spacing-y);
  margin-bottom: var(--item-spacing-y);
}

hr.small {
  @extend .text-center;
  max-width: 10%;
}

input {
  @extend .mdc-text-field__input;
  background-color: var(--mdc-theme-background);
  border: 1px solid var(--mdc-theme-border);
  border-radius: var(--card-radius);
  color: var(--mdc-theme-on-surface);
  padding: 8px;
  width: 100%;
}

input:focus {
  outline-style: none;
  border: 1px solid var(--mdc-theme-primary);
}

.mdc-button {
  @extend .text-uppercase;
  margin-left: calc(var(--item-spacing-x) / 4);
  margin-right: calc(var(--item-spacing-x) / 4);
  margin-bottom: var(--item-spacing-y);
  border-radius: 24px !important;
}

a.mdc-button--unelevated,
a .mdc-button--unelevated,
.mdc-button--unelevated a {
  color: var(--mdc-theme-on-primary);
}

.mdc-button__ripple {
  border-radius: 24px !important;
}

.with-ripple-effect:after {
  content: '\A';
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  background-color: #0000;
}

.with-ripple-effect:focus.with-ripple-effect:after,
.with-ripple-effect:hover.with-ripple-effect:after {
  background-color: var(--mdc-theme-overlay);
}

img {
  max-width: 100%;
}

details summary {
  list-style-position: outside;
}

details summary > * {
  display: inline-block;
}
