/*
 *------------------------------------------------
 * style variables
 *------------------------------------------------
 */

$border: solid;
$border-color: var(--mdc-theme-border);
$border-radius: var(--card-radius);
$border-width: 1px;
