/*
 *------------------------------------------------
 * style variables
 *------------------------------------------------
 */

$border: solid;
$border-color: var(--mdc-theme-border);
$border-width: 1px;

$card-radius: var(--card-radius);
$icon-radius: var(--icon-radius);
