---
layout: default
---

<style>
    article img {
      border-radius: 8px;
      width: 100%;
      margin: auto;
    }
</style>

<!-- Page Content -->
<div class="col-md-8">
  {% if page.toc %}
  <section>
    <h2>Table of Contents</h2>
    {{ content | toc_only }}
  </section>

  <script type="text/javascript">
    findElementById("toc").addClass("mdc-list-item__text");
  </script>
  {% endif %}

  <section>
    {{ content | inject_anchors }}
  </section>
</div>

<aside class="col-md-4">
  {% include list_posts.html %}
  <br>
  {% include disqus.html %}
</aside>
